<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.daio.cine">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:name=".VideoViewNotificationActivity"
            android:theme="@style/Theme.Transparent"/>
    </application>

</manifest>